body{
    background-color: #004047;
}
.birinchilogo{
    background-color: #012F34;
    width: 350px;
    height: 281px;
    color: aliceblue;
    margin: 50px;
    text-align: center;
}
.ikkinchilogo{
    background-color: #012F34;
    width: 350px;
    height: 281px;
    color: aliceblue;
    margin: 50px;
    text-align: center;
}
.uchinchi{
    background-color: #012F34;
    width: 350px;
    height: 281px;
    color: aliceblue;
    margin: 50px;
    text-align: center;
}
.tortinchi{
    background-color: #012F34;
    width: 350px;
    height: 281px;
    color: aliceblue;
    margin: 50px;
    text-align: center;
}
.beshinchi{
    background-color: #012F34;
    width: 350px;
    height: 281px;
    color: aliceblue;
    margin: 50px;
    text-align: center;
}
.oltinchi{
    background-color: #012F34;
    width: 350px;
    height: 281px;
    color: aliceblue;
    margin: 50px;
    text-align: center;
}